.yourText {
    position: relative;
    left: 125px;
}

.dottedLine {
	border-top: 2.5px dashed;
	color: #ffe570;
	width: 100%;
	position: relative;
	top: -15px;
}

.dot1 {
  height: 15px;
  width: 15px;
  background: #f94144;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 10px;
  right: -5px;
}

.dot2 {
  height: 15px;
  width: 15px;
  background: #f9c74f;
  border-radius: 50%;
  position: relative;
  top: -10px;
  right: -30px;
}

.dot3 {
  height: 15px;
  width: 15px;
  background: #8ac926;
  border-radius: 50%;
  position: relative;
  top: -25px;
  right: -55px;
}

.menu {
	position: relative;
	top: -60px;
	right: -100px;
}
