.yourText {
    position: relative;
    left: 125px;
}

.dottedLine {
	border-top: 2.5px dashed;
	color: #ffe570;
	width: 100%;
	position: relative;
	top: -15px;
}

.dot1 {
  height: 15px;
  width: 15px;
  background: #f94144;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 15px;
  width: 15px;
  background: #f9c74f;
  border-radius: 50%;
  position: relative;
  top: -20px;
  right: -25px;

}

.dot3 {
  height: 15px;
  width: 15px;
  background: #8ac926;
  border-radius: 50%;
  position: relative;
  top: -35px;
  right: -50px;
}